.chat{
    min-height: 100vh;
    background: linear-gradient(#596AFF,#383699);
    display: grid;
    place-items: center;
}
.chat-container{
    width: 95%;
    height:75%;
    max-width: 1000px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.loading{
    font-size: 50px;
    color:white;
}

.slide-down {  
    animation: slideDown 0.5s ease-out forwards;  
}  

@keyframes slideDown {  
    from {  
        transform: translateY(-100%);  
        opacity: 0;  
    }  
    to {  
        transform: translateY(0);  
        opacity: 1;  
    }  
}  


@media (max-width:900px){
    .chat-container{
        display: flex;
    }
    .loading{
        font-size: 30px;
    }
}